.greetingForm {
    max-width: 462px;
    width: 100%;
}

.inputAndButtonContainer {
    width: 100%;
    display: flex;
    gap: 12px;
    margin-top: 8px;
}

.inputAndButtonContainer div {
    max-width: 372px;
    width: 100%;
    
}

.error {
    margin-top: 7px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
font-size: 14px;
color: #c00;
}

.input {
    width: 100%;
    height: 36px;
    border-radius: 7px;
    border: 2px solid #D1D1D1;
    padding: 8px 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    outline: none;
}

.input:focus-visible {
    border: 2px solid #D1D1D1;
}

.errorInput {
    width: 100%;
    height: 36px;
    border-radius: 7px;
    border: 2px solid #CC0000;
    padding: 8px 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background: #06c;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
    text-transform: capitalize;
    border: 0;

}

.button:focus {
    scale: 1.1;
}

.button:active {
    color: #06c;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting { 
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}