.burgerMenuIcon {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

.burgerMenuIcon:hover{
    transform: scale(1.1);
}


.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.header h1 {

}